<h3>Passive View</h3>
<a href="https://martinfowler.com/eaaDev/PassiveScreen.html">Martin Fowler</a>
<h4>A screen and components with all application specific behavior extracted into a controller so that the widgets have their state controlled entirely by controller</h4>
<p>
  A perennial problem with building rich client systems is the complication of testing them. Most rich client frameworks were not built with automated testing in mind. Controlling these frameworks programaticly is often very difficult.
</p>

<p>
  A Passive View handles this by reducing the behavior of the UI components to the absolute minimum by using a controller that not just handles responses to user events, but also does all the updating of the view. This allows testing to be focused on the controller with little risk of problems in the view.
</p>

<label>Task name:</label>

<input type="input" placeholder="todo..." 
  [attr.maxlength]="viewModel.maxLengthTaskName" 
  [(ngModel)]="viewModel.taskName"
  [attr.disabled]="viewModel.isLock?'':null"
  >

<button 
  (click)="onAddTaskClick($event)"
  [attr.disabled]="viewModel.isLock?'':null"  
>
  Add Task
</button>

<div class="error" *ngIf="viewModel.errorMessageVisible">
  {{viewModel.errorMessage}}
</div>

<div class="success" *ngIf="viewModel.successMessageVisible">
  {{viewModel.successMessage}}
</div>
